# Import Libraries

In [59]:
import numpy as np
import pandas as pd

# Working with Series

In [60]:
x = pd.Series([1,2,3,4,5])
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [61]:
x + 50

0    51
1    52
2    53
3    54
4    55
dtype: int64

In [62]:
x ** 2 + 100

0    101
1    104
2    109
3    116
4    125
dtype: int64

In [63]:
x > 3

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [64]:
larger_than_3 = x > 3
larger_than_3

0    False
1    False
2    False
3     True
4     True
dtype: bool

## any and all

In [65]:
larger_than_3.any()

True

In [66]:
larger_than_3.all()

False

## apply

In [67]:
def f(x):
    if x % 2 == 0:
        return x * 2
    else:
        return x * 3
    
x.apply(f)

0     3
1     4
2     9
3     8
4    15
dtype: int64

In [68]:
%%timeit

ds = pd.Series(range(10000))

for counter in range(len(ds)):
    ds[counter] = f(ds[counter])

106 ms ± 3.31 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [69]:
%%timeit

ds = pd.Series(range(10000))

ds = ds.apply(f)

5.22 ms ± 412 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## astype()

In [70]:
x.astype(np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [71]:
y = x

In [72]:
y[0]

1

In [73]:
y[0] = 100

In [74]:
y

0    100
1      2
2      3
3      4
4      5
dtype: int64

In [75]:
x

0    100
1      2
2      3
3      4
4      5
dtype: int64

## other way to save memory

In [76]:
y = x.copy()

In [77]:
x[0] = 1

In [78]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [79]:
y

0    100
1      2
2      3
3      4
4      5
dtype: int64

In [86]:
x.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

# Data Frame

In [88]:
data = [1,2,3,4,5,6,7,8,9]
df = pd.DataFrame(data, columns = ["x"])

In [89]:
df

   x
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

## Selecting Data

In [90]:
df["x"]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: x, dtype: int64

In [91]:
df["x"][0]

1

## Add other columns

In [92]:
df["x_plus_2"] = df["x"] + 2
df

   x  x_plus_2
0  1         3
1  2         4
2  3         5
3  4         6
4  5         7
5  6         8
6  7         9
7  8        10
8  9        11

In [93]:
df["x_square"] = df["x"] ** 2
df["x_factorial"] = df["x"].apply(np.math.factorial)
df

   x  x_plus_2  x_square  x_factorial
0  1         3         1            1
1  2         4         4            2
2  3         5         9            6
3  4         6        16           24
4  5         7        25          120
5  6         8        36          720
6  7         9        49         5040
7  8        10        64        40320
8  9        11        81       362880

In [94]:
df["is_even"] = df["x"] % 2 == 0
df

   x  x_plus_2  x_square  x_factorial  is_even
0  1         3         1            1    False
1  2         4         4            2     True
2  3         5         9            6    False
3  4         6        16           24     True
4  5         7        25          120    False
5  6         8        36          720     True
6  7         9        49         5040    False
7  8        10        64        40320     True
8  9        11        81       362880    False